/* :root - Selector especial utilizado para definir variables personalizadas de CSS que se pueden reutilizar en todo el documento. */
:root {
    --bg-color: #1c134d;
    /* Color de fondo */
    --primary-color: #ff9523;
    --secondary-color: #ffc098;
    --third-color: #ff9523;
    --third-bis-color: #ff9523;
    --bg-input-color: #4f31572c;
}

/* Selector de etiqueta para body donde aplica color de fondo. */
body {
    background-color: var(--bg-color);
}


/* Selector Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:   'Nunito', sans-serif;
}

/* Eliminar la decoración de los hipervínculos: */
a {
    text-decoration: none;
}

/* Agregar color y tamaño de fuente a la etiqueta <h2></h2> */
h2 {
    color: #FFF;
    font-size: 4vw;
}
h1 {
    color: #FFF;
    font-size: 2vw;
}
p {
    color: #FFF;
    font-size: 1.3vw;
}

/* Selector de id llamado logo para resaltar el texto en negrita */
#logo {
    font-weight: bold;
}

/* Selector descendiente */
#logo a {
    color: white;
    text-decoration: none;
}



#logo:hover {
    animation: tilt-n-move-shaking 0.25s infinite;
    
}

@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }

    50% {
        transform: translate(0, 0) rotate(0deg);
    }

    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}




/* Selector por id que identifica la sección del banner. */
#banner {
    background-image: url('../img/fondo_logo_grande2.jpg');
    background-size: cover;
    /* determina cómo se ajusta el tamaño de la imagen de fondo para cubrir completamente el contenedor */
    background-position: center;
    /* coloca la imagen en el centro tanto horizontal como vertical del elemento contenedor */
    height: 600px;
    box-shadow: inset 0 0 0 2000px rgba(84, 84, 84, 0.5);
    /* establece una sombra interna actúa como un filtro. */
}

#banner1 {
    background-image: url('../img/fondo_logo_chico.png');
    background-size: cover;
    /* determina cómo se ajusta el tamaño de la imagen de fondo para cubrir completamente el contenedor */
    background-position: center;
    /* coloca la imagen en el centro tanto horizontal como vertical del elemento contenedor */
    height: 600px;
    box-shadow: inset 0 0 0 2000px rgba(84, 84, 84, 0.5);
    /* establece una sombra interna actúa como un filtro. */
}

/* Selector id para la sección de Top Rated, películas más top */
#top-rated {
    margin: 50px 0px;
}

/* Estilos para los id #popular y #top rated */
#planes,
#grilla {
    text-align: center;
}

#nosotros,
#grilla {
    text-align: center;
   
}

#planes h2,
#grilla h2 {
    margin: 50px 0px;
}


/* Estilo para el footer */
#footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

/* Estilo para el footer para cuando se pasa el mouse */
#footer a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

/* Estilo para el footer */
#footer{
    align-items: center;
    background-color: var(--third-color);
    display: flex;
    height: 100px;
    width: 100%;
}

#redes {
    text-align: center;

  
    
}

/* Estilo para Search */
#search{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Estilo para la barra de búsqueda */
.search-title {
    color: white;
    font-size: 3vw;
}

.plan-item-img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    /* Especifica cómo debe ajustarse y escalarse una imagen o un video. El valor cover asegura que el contenido se ajuste al contenedor manteniendo su proporción y cubriendo todo el espacio disponible. */
    -o-object-fit: cover;
    /* Este prefijo es necesario para que Opera pueda reconocer y aplicar la propiedad. */
}

/* Estilo que se usará desde JavaScript para que al recorrer la página el encabezado cambie de color. */
.scrolled {
    background-color: var(--third-color);
}


/* Modificaremos el color de fondo, color de fuente, posición del encabezado, ancho y profundidad. */
.header{
    background-color:var(--third-color);
    color:#ffffff;
    height: 12vh;
    position:sticky;
    top: 0;
    z-index:10;
    .navegacion{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left:40px;
        margin-right: 40px;
        padding: 1.5rem 0;
        .anclaLogo{
            text-decoration: none;
            color: #ffffff;
            font-weight: 700;
            font-size: 1.2rem;
            /*animacion hover*/
            &:hover{
                animation: tilt-n-move-shaking 0.25s infinite;
            }
        }
        .listaNav{
            list-style: none;
            display: flex;
            align-items: center;
            .listaItem{
                margin-right:20px;
                .linkNav{
                    text-decoration: none;
                    color:#ffffff;
                    font-weight: 700;
                    font-size: 1.1rem;
                    padding: 0.5rem 1rem;
                    /* Agregar efecto de botón presionado */
                    transition: transform 0.3s, box-shadow 0.3s;
                    &:hover {
                        transform: scale(0.95);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                        border-radius: 5px;
                    }
                }
                .linkNav.iniciarSesion{
                    background-color: #181419;
                    color: white;
                    
                    border-radius: 5px;
                     /* Agregar efecto de botón presionado */
                     transition: transform 0.3s, box-shadow 0.3s;
                     &:hover {
                         background-color: var(--third-color);
                        /* transform: scale(0.95);
                         box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
                     }
                }
            }
           
        }
    }
   
}



/* Estilos para el botón. */
.btn-cac {
    background-color: var(--primary-color);
    padding: 10px;
    /* Se aplica un espacio de 10 píxeles a los cuatro lados (arriba, abajo, izquierda y derecha) del elemento. */
    border-radius: 10px;
    /* Se establece un radio de curvatura de 10 píxeles para las esquinas del elemento. */
    color: #FFF;
    cursor: pointer;
    
}


/* Clase Container */
.container {
    max-width: 1200px;
    margin: 120px auto;
}

.containernos {
    max-width: 1200px;
    margin: 50px auto;
}


/* Estilo para la tarjeta del banner */
.card-banner {
    margin: 0 auto;
    /* Se utiliza comúnmente para centrar horizontalmente un elemento dentro de su contenedor. */
    text-align: center;
    padding: 0px 160px;
    /* Aplica un relleno de cero píxeles en la parte superior e inferior del elemento y un relleno de 160 píxeles en los lados izquierdo y derecho. */
}
.card-banner1 {
    margin: 0 auto;
    /* Se utiliza comúnmente para centrar horizontalmente un elemento dentro de su contenedor. */
    text-align: justify;
    padding: 0px 160px;
    /* Aplica un relleno de cero píxeles en la parte superior e inferior del elemento y un relleno de 160 píxeles en los lados izquierdo y derecho. */
}

/* Estilo para la barra de búsqueda */
.input-search {
    background-color: var(--bg-input-color);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    height: 50px;
    margin: 20px 0px;
    outline: none;
    /* Se utiliza para quitar o eliminar el contorno visible que se muestra alrededor de un elemento cuando este obtiene el foco o se selecciona. */
    padding: 0px 20px;
    width: 70%;
    font-family: 'Nunito', sans-serif;
}


/* Estilo para el detalle de los ítems */
.plan-item-detail {
    bottom: -100%;
    /* Se utiliza para posicionar un elemento en relación con su contenedor padre moviéndolo hacia abajo, fuera de la vista, exactamente un 100% de la altura del contenedor. */
    padding: 50px;
    max-height: 100%;
    overflow-y: auto;
    /* Se utiliza para controlar cómo se maneja el desbordamiento vertical del contenido dentro de un elemento. auto permite que aparezcan barras de desplazamiento solo cuando el contenido excede el tamaño del contenedor en el eje vertical. */
    line-height: 15px;
    /* Esta propiedad afecta al espacio vertical entre líneas de texto dentro del elemento. */
    position: absolute;
    /* Establece la posición del elemento de manera absoluta en relación con su contenedor padre posicionado. */
    background-color: var(--third-bis-color);
    box-sizing: border-box;
    /* Define cómo se calcula el tamaño total de un elemento, incluyendo su contenido, relleno (padding) y bordes. */
    transition: bottom 0.4s ease-in-out;
    width: 100%;
}

/* Estilo para el título de las películas */
.plan-item-detail-title {
    color: white;
    margin: 5px 0px 0px 0px;
    line-height: 1.2em;
}

/* Estilo para el subtítulo de las películas */
.plan-item-detail-subtitle {
    color: white;
    font-size: 8px;
    margin: 3px 0px;
}


/* Estilo para Las más aclamadas */
.wrapper {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    /* Se utiliza para aplicar sombras a un elemento. • El primer valor 0 representa el desplazamiento horizontal de la sombra. • El segundo valor 2px representa el desplazamiento vertical de la sombra. • El tercer valor 8px indica el desenfoque o difuminado de la sombra. • rgba(0,0,0,.1) define el color y la opacidad de la sombra. En este caso, se trata de un tono negro (0,0,0) con una opacidad del 10% (0.1).*/
    
    width: 100%;
    /* min-height: calc(150px*1.5); */
    /* Establece la altura mínima del elemento en 225 píxeles, asegurando que, aunque el contenido no sea suficiente para alcanzar esa altura, el elemento nunca se mostrará con una altura menor a 225 píxeles. */
    /* height: calc(150px*1.5); */
    overflow: hidden;
    /* Se oculta el contenido que sobresale más allá de los límites del contenedor. */
}


/* Estilo para las imágenes de Las más aclamadas */
.plan-item-img-v2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Se utiliza para ajustar el tamaño del elemento para que llene completamente el contenedor. */
    -o-object-fit: cover;
    /* Para que se pueda visualizar en Ópera */
}

/* Estilo para el detalle de Las más aclamadas */
.plan-item-detail-v2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Estilo para el título de Las más aclamadas */
.plan-item-detail-title-v2 {
    color: white;
    font-weight: bold;
    margin: 5px 0px 0px 0px;
}

/* Estilo para el subtítulo de Las más aclamadas */
.plan-item-detail-subtitle-v2 {
    color: white;
    font-size: 12px;
    margin: 3px 0px;
}


/* Estilo para los hipervínculos del menú */
.nav-links a {
    text-decoration: none;
    color: #fff;
}

/* Hover para los links al pasar el mouse */
.nav-links a:hover {
    color: var(--secondary-color);
}

/* Hover para el botón de Registrarse e Iniciar Sesión*/
.btn-cac:hover {
    color: var(--secondary-color) !important;
    border: 2px solid var(--secondary-color);
}


/* Estilos con selectores descendientes para las etiquetas de título y subtítulo del banner */
.card-banner h1 {
    color: #FFF;
    font-size: 4vw;
}

.card-banner h2 {
    margin-bottom: 20px;
}

/* Estilo para las películas de Las Tendencias de hoy */
.plan-item {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 200px;
    height: 300px;
    font-size: 20px;
    cursor: pointer;
    transition: all 450ms;
    -webkit-transform-origin: center left;
    transform-origin: center left;
   
}

/* Estilo que se activa al pasar el cursor del mouse sobre el item */
/* .movie-item:hover cuando el cursor está sobre un elemento con la clase .movie-item, se aplica una opacidad del 90% (0.9), lo que hace que el elemento se vuelva un poco más transparente. */
.plan-item:hover {
    opacity: 0.7;
}

/* Cambia la posición vertical (bottom) del elemento .movie-item-detail, moviéndolo hacia abajo, para revelar más información o detalles sobre el elemento de la película. */
.plan-item:hover .movie-item-detail {
    bottom: 0;
    
}


/* Media Queries para dispositivos */
/*Tablets*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    h2 {
        font-size: 3vw;
    }

    .login-text {
        display: none;
    }

    .logo-text {
        display: none;
    }

    #banner {
        height: 400px;
    }

    #search {
        height: 200px;
    }

    .container {
        max-width: 720px;
    }

    .card-banner {
        padding: 0px 75px;
    }

    #footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}



/* CELULARES */
@media screen and (max-width: 767px) {
    h2 {
        font-size: 3vw;
    }

    .h2-subtitle {
        font-size: 5vw;
    }

    .login-text {
        display: none;
    }

    .logo-text {
        display: none;
    }

    #banner {
        height: 300px;
    }

    #search {
        height: 200px;
    }

    .container {
        max-width: 420px;
    }

    .card-banner {
        padding: 0px 50px;
    }

    .btn-cac {
        font-size: 1vh;
    }

    #footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #footer a {
        padding: 2px 0px;
    }
}

