<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
            rel="stylesheet"
        />
        <!-- Script de Fontawesome -->
        <script
            src="https://kit.fontawesome.com/f7fb471b65.js"
            crossorigin="anonymous"
        ></script>
        <!-- CSS -->
        <link rel="stylesheet" href="../css/style.css" />
        <link rel="stylesheet" href="../css/contacto.css" />
        <!-- Favicon -->
        <link rel="icon" href="../img/favicon.ico" />

        <title>CAVICU</title>
    </head>

    <body>
        <!-- Encabezado -->
        <header class="header">
            <nav class="navegacion">
                <h1 id="logo"><a href="../#">CAVICU</a></h1>
                <ul class="listaNav">
                    <li><a class="listaItem" href="../#planes">Planes</a></li>
                    <li>
                        <a class="listaItem" href="../#grilla">Grilla TV</a>
                    </li>
                    <li>
                        <a class="listaItem" href="nosotros.html"
                            >Sobre Nosotros</a
                        >
                    </li>
                    <li>
                        <a class="listaItem" href="contacto.html">Contacto</a>
                    </li>
                </ul>
                <ul class="listaNav">
                    <li>
                        <a class="btn-cac" href="#">
                            <i class="fas fa-sign-in-alt"></i>
                            <span class="login-text">Abonados</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Contenido -->
        <main>
            <section>
                <h2 class="contacto__titulo">Contacto</h2>
                <form
                    action="#"
                    method="GET"
                    id="formRegister"
                    class="formRegister"
                    novalidate
                >
                    <!-- Nombre -->
                    <div class="form-control">
                        <label for="firstname">Nombre</label>
                        <input
                            type="text"
                            name="firstname"
                            id="firstname"
                            required
                        />
                        <div class="error" id="error-firstname"></div>
                    </div>
                    <!-- Apellido -->
                    <div class="form-control">
                        <label for="lastname">Apellido</label>
                        <input
                            type="text"
                            name="lastname"
                            id="lastname"
                            required
                        />
                        <div class="error" id="error-lastname"></div>
                    </div>
                    <!-- Mail -->
                    <div class="form-control">
                        <label for="email">Mail</label>
                        <input type="email" name="email" id="email" required />
                        <div class="error" id="error-email"></div>
                    </div>
                    <!-- Contraseña -->
                    <div class="form-control">
                        <label for="tel">Telefono</label>
                        <input type="tel" name="tel" id="tel" required />
                        <div class="error" id="error-telefono"></div>
                    </div>
                    <!-- Fecha de Nacimiento -->
                    <div class="form-control">
                        <label for="birthdate">Fecha de Nacimiento</label>
                        <input
                            type="date"
                            name="birthdate"
                            id="birthdate"
                            required
                        />
                        <div class="error" id="error-birthdate"></div>
                    </div>
                    <!-- País -->
                    <div class="form-control">
                        <label for="country">Barrios</label>
                        <select name="country" id="country" class="form-select">
                            <option value="" disabled selected>Barrios</option>
                            <option value="CNT">Centro</option>
                            <option value="NO">Norte</option>
                            <option value="SU">Sur</option>
                            <option value="ES">Este</option>
                            <option value="OS">Oeste</option>
                        </select>
                        <div class="error" id="error-country"></div>
                    </div>
                    <!-- Términos y Condiciones -->
                    
                    <div class="form-terms">
                        <div class="file">
                            <label for="terms"
                                >Cargar DNI:  </label
                            >
                            <input type="file" name="file" id="file" required />
                            
                        <div class="error" id="error-file"></div>
                        </div>
                    </div>

                    
                    <div class="form-terms">
                        <div class="terms file">
                            <input type="checkbox" id="terms" name="terms" required />
                            <label for="terms"
                                >Acepto términos y condiciones.</label
                            >
                            <div class="error" id="error-terms"></div>
                        </div>
                    </div>
                    <!-- Botón de Registro -->
                    <button type="submit">Enviar</button>
                </form>
            </section>

            <section id="redes">
        
                <div>         
                    <h2>Como llegar</h1>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2911.5812988765733!2d-58.05591709272581!3d-29.792870817271975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x945292579844c7a1%3A0x52336b33e937488f!2sCAVICU%20S.R.L.!5e0!3m2!1ses-419!2sar!4v1715895513404!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map-item-img"></iframe>
                </div>
                <div >
                    <h2> Medios de contacto</h2>
                    <div>
                        <h1>Tel. 3774 - 424242</h1>
                    </div>
                    <div class="social">
                        <a href="https://www.facebook.com/cavicucuruzu"> <i class="fa fa-facebook-official" aria-hidden="true"></i> </a>
                        <a href="https://www.instagram.com/cavicucuruzu_/"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
                        <a href="https://wa.me/543774631127?text=Hola,%20me%20comunico%20por%20los%20planes%20que%20ofrecen.%20Muchas%20Gracias."> <i class="fa fa-whatsapp" aria-hidden="true"></i> </a>
                        <a href="https://www.youtube.com/@cavicucuruzu94"> <i class="fa fa-youtube" aria-hidden="true"></i> </a>
                    </div>
                </div>
            
            </section>

        </main>

        <!-- Pie -->
        <footer id="footer">
            <a href="./nosotros.html">Sobre Nosotros</a>
            <a href="./contacto.html">Contacto</a>
        </footer>
    </body>
    <script src="../js/contacto.js"></script>
</html>
