<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <!-- Script de Fontawesome -->
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Favicon -->
    <link rel="icon" href="./static/img/favicon.ico">

    <title>CAVICU</title>
</head>

<body>
    <!-- Encabezado -->
    <header class="header">

        <nav>
            <!-- Logo -->
            <div id="logo">
                <a href="/">
                    <!-- Más adelante se aplicarán estilos específicos al texto y se agregará un ícono -->
                    <i class="fas fa-film"></i>
                    <span class="logo-text">CAVICU</span>
                </a>
            </div>

            <!-- Hipervínculos del Menú -->
            <ul class="nav-links">
                <li>
                    <a href="#planes">Planes</a>
                </li>
                <li>
                    <a href="#grilla">Grilla TV</a>
                </li>
                <li>
                    <a href="./nosotros.html">Sobre Nosotros</a>
                </li>
                <li>
                    <a href="./contacto.html">Contacto</a>
                </li>

                
                <li>
                    <a class="btn-cac" href="#">
                        <!-- Más adelante se aplicarán estilos específicos al texto y se agregará un ícono -->
                        <i class="fas fa-sign-in-alt"></i>
                        <span class="login-text">Abonados</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Contenido -->
    <main>
        <!-- Formulario -->
        <section id="banner1">
            
            <div class="container card-banner">
                <h1>C A V I C U</h1>
                
                <a href="./templates/contacto.html" class="btn-cac">Solicitalo Ya</a>
                    <p>CULTURA ORGANIZACIONAL DE CAVICU 
                        En el año 1987 a partir de la unión de tres personas: Mario, 
                        Laura y Gabriel, quienes tendieron cables y los conectaron a los 
                        hogares de todas las familias de dicha localidad. Hoy, sigue 
                        siendo liderada por sus socios; en la actualidad y desde hace un 
                        año la hija de uno de los socios forma parte de la estructura 
                        organizacional.
                        Los socios fundadores, son personas de trabajo y de una gran 
                        vocación por lo que realizan, tratan con cordialidad a las 
                        personas que trabajan en la organización, el compromiso, la 
                        responsabilidad, honestidad forman parte de sus valores, el 
                        trabajo en equipo es algo que propician los propios dueños de la 
                        misma. Los empleados tocan la puerta de las oficinas de los 
                        referentes de la empresa y son atendidos, el trato es directo. Es 
                        una empresa con poca, casi nula, rotación de personal. El 
                        promedio de antigüedad es de 14 años. Si bien su forma de 
                        organización es más informal, el clima organizacionales
                        agradable.
                    </p>
                    
            </div>
        </section>
        
       
    </main>

    <!-- Pie -->
    <footer id="footer">
        <a href="">Términos y condiciones</a>
        <a href="">Abonados</a>
        <a href="">Contacto</a>
    </footer>

</body>

</html>