<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <!-- Script de Fontawesome -->
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Favicon -->
    <link rel="icon" href="../img/favicon.ico">

    <title>CAVICU</title>
</head>

<body>
    <!-- Encabezado -->
    <header class="header">

        <nav>
            <!-- Logo -->
            <div id="logo">
                <a href="../index.html">
                    <!-- Más adelante se aplicarán estilos específicos al texto y se agregará un ícono -->
                    <i class="fas fa-film"></i>
                    <span class="logo-text">CAVICU</span>
                </a>
            </div>

            <!-- Hipervínculos del Menú -->
            <ul class="nav-links">
                <li>
                    <a href="../index.html#planes">Planes</a>
                </li>
                <li>
                    <a href="../index.html#grilla">Grilla TV</a>
                </li>
                <li>
                    <a href="./nosotros.html">Sobre Nosotros</a>
                </li>
                <li>
                    <a href="./contacto.html">Contacto</a>
                </li>

                
                <li>
                    <a class="btn-cac" href="#">
                        <!-- Más adelante se aplicarán estilos específicos al texto y se agregará un ícono -->
                        <i class="fas fa-sign-in-alt"></i>
                        <span class="login-text">Abonados</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Contenido -->
    <main>
        <!-- Formulario -->
        <section id="banner1">
            
            <div class="container card-banner">
                <h1>C A V I C U</h1>
                <h1>TV Digital + Internet</h1>
                <h2></h2>
                <a href="/templates/contacto.html" class="btn-cac">Solicitalo Ya</a>
                    
                    
            </div>
            <div>
                <section id="nosotros">
                    <!-- División contenedora del título e imágenes -->
                    <div class="containernos">
                        <div class="container">
                            <h2>Sobre Nosotros</h2>
                            
                                <!-- Info de las películas: mismo formato para todas -->
                                <div class="movie-item-v2">
                                    <div class="wrapper"> <img src="../img/nos1.jpg" alt="" class="movie-item-img-v2"> 
                                    </div>
                                    
                                    
                                </div>
                                
                            
                        </div>
                       
                </section>
            
            </div>
            
        </section>
        <section id="banner1">

        </section>
        
        
    </main>

    <!-- Pie -->
    <footer id="footer">
        <a href="./nosotros.html">Sobre Nosotros</a>
        <a href="./contacto.html">Contacto</a>
    </footer>

</body>

</html>