<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <!-- Script de Fontawesome -->
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Favicon -->
    <link rel="icon" href="../img/favicon.ico">

    <title>CAVICU</title>
</head>

<body>
    <header class="header">
        <nav class="navegacion"> 
                <h1><a href="../#">CAVICU</a></h1>           
                 <ul class="listaNav">   
                    <li><a class="listaItem" href="../#planes">Planes</a></li>
                    <li><a class="listaItem" href="../#grilla">Grilla TV</a></li>
                    <li><a class="listaItem" href="nosotros.html">Sobre Nosotros</a></li>
                    <li><a class="listaItem" href="contacto.html">Contacto</a></li>
                </ul>         
                <ul class="listaNav">
                    <li><a class="btn-cac" href="#">
                    <i class="fas fa-sign-in-alt"></i>
                    <span class="login-text">Abonados</span>
                    </a></li>
                </ul>            
            </nav>
       
        </header>

    <!-- Contenido -->
    <main>
        <!-- Formulario -->
        <section id="banner1">
            
            <div class="container card-banner">
                <h1>C A V I C U</h1>
                <h1>TV Digital + Internet</h1>
                <h2></h2>
                <a href="/templates/contacto.html" class="btn-cac">Solicitalo Ya</a>
                    
                    
            </div>
            
        <section id="nosotros">
                    <!-- División contenedora del título e imágenes -->
                    <div class="containernos">
                        <div class="container">
                            <h2>Sobre Nosotros</h2>
                            <p>Somo una empresa Curuzucuateña que hace 35 años brindamos una hermosa experiencia de televsión por cable y servicio de Internet </p>
                            <p>Nuestra Mision es que cada uno de nuestros clientes tenga acceso a un servicio de calidad </p>
                                <!-- Info de las películas: mismo formato para todas -->
                                <!-- <div class="plan-item-v2">
                                    <div class="wrapper"> <img src="../img/nos1.jpg" alt="" class="plan-item-img-v2"> 
                                    </div>
                                    
                                    
                                </div> -->
                                
                            
                        </div>
                    </div>  
        </section>
            
            
            
        </section>
        <section id="redes">
            <div>
            <div>         
                <h2>Como llegar</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2911.5812988765733!2d-58.05591709272581!3d-29.792870817271975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x945292579844c7a1%3A0x52336b33e937488f!2sCAVICU%20S.R.L.!5e0!3m2!1ses-419!2sar!4v1715895513404!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="plan-item-img"></iframe>
    </div>
    <div>
        <h2>Contacto</h2>
        <div>
            <h1>Tel. / WP 3774 - 424242</h1>
        </div>
        <div>
            <h1><a href="https://www.facebook.com/cavicucuruzu">Facebook</a></h1>
        </div>
    </div>
</div>
    </section>
        
        
    </main>

    <!-- Pie -->
    <footer id="footer">
        <a href="./nosotros.html">Sobre Nosotros</a>
        <a href="./contacto.html">Contacto</a>
    </footer>

</body>

</html>